.paper > pre {
    width: 450px;
    overflow: auto;
}

.one > img {
    width: 350px;
    height: 180px;
}

.two > img {
    width: 350px;
    height: 180px;

}

td > img {
    width: 350px;
}

@media (max-width:760px) {
    td > img {
        display: none;
    }
    .tdimg {
        display: none;
        width: 0%;
        padding: 0;
    }
    .tdcontent {
        width: 100%;
    }
}
.red-star {
    color: red;
}